<!doctype html>
<html lang="en" data-bs-theme="light" data-bs-theme-base="zinc" data-bs-theme-primary="azure">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>%%TITLE%% - QuadSpinner Gaea</title>
    <link rel="stylesheet" href="/assets/site.css" />
    <link rel="stylesheet" href="/assets/themes.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="stylesheet" href="/assets/glow.css" />
    <link rel="stylesheet" href="/assets/print.css" />
    <link rel="stylesheet" href="/assets/fa/css/all.min.css" />
</head>

<body data-hive="%%HIVE%%" data-hive-shortname="%%SHORTNAME%%" data-slug="%%SLUG%%">
    <div class="container-fluid" id="expanding-container">
        <header class="mt-5">
            <div class="row glow head-block">
                <div class="col-lg-2 col-sm-12">
                    <img src="/assets/img/Gaea-Icon-64.png" width="24" height="24" alt="Logo" />
                    <a href="/" class="site-title" aria-label="Gaea Docs">Gaea Documentation</a>
                </div>
                <div class="px-5 col d-print-none">
                    <div class="position-relative" id="site-search">
                        <input id="searchBox" class="form-control" type="search" placeholder="Search…" autocomplete="off">
                        <div id="searchPopup" class="dropdown-menu w-100 shadow mt-1 p-0" style="display:none;">
                            <div class="px-3 py-2 border-bottom small text-secondary" id="searchMeta">Type to search</div>
                            <div id="searchResults" class="list-group list-group-flush"></div>
                            <div id="searchEmpty" class="px-3 py-3 text-secondary" style="display:none;">No results</div>
                        </div>
                    </div>
                </div>
                <div class="col-1 justify-content-end d-print-none text-right">
                    <div class="nav-item">
                        <a href="#" class="nav-link px-0 hide-theme-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Enable dark mode" data-bs-original-title="Enable dark mode">
                            <img src="/assets/svg/moon.svg" alt="">
                        </a>
                        <a href="#" class="nav-link px-0 hide-theme-light" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Enable light mode" data-bs-original-title="Enable light mode">
                            <img src="/assets/svg/sun.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="d-flex hive-nav">
                        <a class="p-2 nav-item" data-hive="Getting Started" href="/introduction">Getting Started</a>
                        <a class="p-2 nav-item" data-hive="Using Gaea" href="/using">Using Gaea</a>
                        <a class="p-2 nav-item" data-hive="Node Reference" href="/reference">Nodes</a>
                        <a class="p-2 nav-item" data-hive="Guides" href="/guides">Guides</a>
                        <a class="p-2 nav-item" data-hive="Videos" href="/videos">Videos</a>
                        <div class="flex-fill d-none d-lg-flex nav-item disabled p-2"></div>
                        <a class="p-2 nav-item" data-hive="Developers" href="/developers">Developers</a>
                        <a class="p-2 nav-item" data-hive="Changelog" href="/changelog">Changelog</a>
                        <div class="flex-fill d-flx d-lg-none nav-item disabled p-2"></div>
                    </div>
                </div>
            </div>
        </header>

        <div class="page-wrapper">

            <div class="row">
                <div class="col-2 d-none d-lg-block" id="nav-holder">
                    <nav id="site-nav"></nav>
                </div>
                <div class="col">
                    <div class="head-block">
                        <div class="d-block d-lg-none">
                            <a data-bs-toggle="offcanvas" href="#mobileNav" role="button" aria-controls="mobileNav">
                                <img src="/assets/svg/global-toc.svg" alt="">
                                Contents
                            </a>
                            <br>
                            <br>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="doc-title">
                                %%PAGETITLE%%
                            </div>
                            <div class="d-lg-flex d-none d-print-none justify-content-between align-items-center">
                                <div class="dropdown d-flex doc-dropdown">
                                    <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                                        <img src="/assets/svg/commands.svg" alt="">
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" id="cmd-copy-md" href="#"> <img src="/assets/svg/copy-md.svg" alt=""> Copy as Markdown </a>
                                        <a class="dropdown-item" id="cmd-view-md" href="#"> <img src="/assets/svg/view-md.svg" alt=""> View as Markdown </a>
                                        <hr class="dropdown-divider">
                                        <a class="dropdown-item" id="cmd-ask-gpt" href="#"> <img src="/assets/svg/ask-gpt.svg" alt=""> Ask ChatGPT about this</a>
                                        <a class="dropdown-item" id="cmd-ask-claude" href="#"> <img src="/assets/svg/ask-gpt.svg" alt=""> Ask Claude about this</a>
                                        <hr class="dropdown-divider">
                                        <a class="dropdown-item" id="cmd-save-pdf" href="#"> <img src="/assets/svg/save-pdf.svg" alt=""> Save as PDF </a>
                                    </div>
                                </div>
                                <a href="#" id="cmd-expand" class="d-flex mx-5" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Toggle Layout Expansion" data-bs-original-title="Toggle Layout Expansion">
                                    <img src="/assets/svg/expand.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row align-top">

                        <div id="content-holder" class="col col-lg-6 px-5">
                            <main id="contents">%%CONTENT%%</main>

                            <div id="next-nav" class="d-flex justify-content-between">
                                <a href="" id="btn-prev" class="btn btn-small"></a>
                                <a href="" id="btn-next" class="btn btn-small"></a>
                            </div>
                        </div>
                        <div class="col-3 d-none d-print-none d-lg-block page-nav-wrapper">
                            <br>
                            <div class="d-block">
                                <img src="/assets/svg/page-toc.svg" alt="">
                                <strong>On this page</strong>
                                <br>
                            </div>
                            <div id="page-nav">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer class="footer footer-transparent d-print-none">
        <div class="container-xl">
            <br>
            <hr>
            <br>
            <div class="row text-center align-items-center flex-row-reverse">
                <div class="col-lg-auto ms-lg-auto">
                    <ul class="list-inline list-inline-dots mb-0">
                        <li class="list-inline-item"><a href="https://quadspinner.com/download" target="_blank" class="link-secondary" rel="noopener">Download Gaea</a></li>
                        <li class="list-inline-item"><a href="/license.html" class="link-secondary">License</a></li>
                        <li class="list-inline-item"><a href="https://QuadSpinner.com/legal/" target="_blank" class="link-secondary" rel="noopener">Legal Terms and Privacy</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-left">
                    <img src="/assets/img/AngryMonkey.png" alt="AngryMonkey" width="24" height="24" /> Made with <a href="https://github.com/quadspinner/angrymonkey2">AngryMonkey 2.0</a>
                    <br>
                    <br>
                    Copyright © 2016-2026 <a href="https://quadspinner.com" target="_blank" class="link-secondary">QuadSpinner</a>. All rights reserved.
                </div>
            </div>
        </div>


        <div class="offcanvas offcanvas-start" tabindex="-1" id="mobileNav" aria-labelledby="mobileNavLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="mobileNavLabel">Table of Contents</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <nav id="site-nav-2"></nav>
            </div>
        </div>
    </footer>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/lunr.js"></script>
    <script src="/assets/js/site.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/TOC_%%SHORTNAME%%.js"></script>
    <script src="/assets/js/TOC.js"></script>
    <script src="/assets/js/search.js"></script>
    <script>


        function normalizeUrl(u) {
            const url = new URL(u, location.origin);
            url.hash = "";
            url.search = "";
            let p = url.pathname;
            if (p.length > 1 && p.endsWith("/")) p = p.slice(0, -1);
            url.pathname = p;
            return url.toString();
        }

        // B) Prev/next among “siblings” under the same parent <ul>
        // - skips li.divider
        // - if sibling is a group, picks closest leaf inside it:
        //   prev => last leaf in that sibling subtree
        //   next => first leaf in that sibling subtree
        function getPrevNextSiblings(host) {
            const current = normalizeUrl(location.href);

            const hit = Array.from(host.querySelectorAll("a[href]:not(.toc-group)"))
                .find((a) => normalizeUrl(a.href) === current);

            if (!hit) return { prev: null, next: null };

            const li = hit.closest("li");
            if (!li) return { prev: null, next: null };

            return {
                prev: findSiblingLeaf(li, -1),
                next: findSiblingLeaf(li, +1),
            };

            function findSiblingLeaf(li, dir) {
                let sib = dir < 0 ? li.previousElementSibling : li.nextElementSibling;

                while (sib) {
                    if (sib.classList?.contains("divider")) {
                        sib = dir < 0 ? sib.previousElementSibling : sib.nextElementSibling;
                        continue;
                    }

                    const leaf = dir < 0 ? lastLeafIn(sib) : firstLeafIn(sib);
                    if (leaf) return leaf;

                    sib = dir < 0 ? sib.previousElementSibling : sib.nextElementSibling;
                }

                return null;
            }

            function firstLeafIn(li) {
                const direct = li.querySelector(':scope > a[href]:not(.toc-group)');
                if (direct) return direct;
                return li.querySelector('a[href]:not(.toc-group)');
            }

            function lastLeafIn(li) {
                const leaves = li.querySelectorAll('a[href]:not(.toc-group)');
                return leaves.length ? leaves[leaves.length - 1] : null;
            }
        }


        window.addEventListener("DOMContentLoaded", () => {
            const host = document.querySelector("#site-nav");
            const box = document.querySelector("#next-nav");
            if (!host || !box) return;

            const { prev, next } = getPrevNextSiblings(host);

            box.innerHTML = "";

            const makeBtn = (type, linkEl, fallbackText) => {
                if (!linkEl) return null;

                const href = linkEl.getAttribute("href") || linkEl.href;
                const text = (linkEl.textContent || "").trim() || fallbackText;

                const a = document.createElement("a");
                a.className = `nav-btn nav-${type} btn btn-sm`;
                a.href = href;

                // text wrapped so CSS can position icon
                const span = document.createElement("span");
                span.className = "nav-btn-text";
                span.textContent = text;

                a.appendChild(span);
                return a;
            };

            const prevBtn = makeBtn("prev", prev, "Previous");
            const nextBtn = makeBtn("next", next, "Next");

            if (prevBtn) box.appendChild(prevBtn);
            if (nextBtn) box.appendChild(nextBtn);
        });


    </script>
</body>

</html>