<!doctype html>
<html lang="en" data-bs-theme="light" data-bs-theme-base="zinc" data-bs-theme-primary="azure">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>%%TITLE%% - QuadSpinner Gaea</title>
    <link rel="stylesheet" href="/assets/site.css" />
    <link rel="stylesheet" href="/assets/themes.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="stylesheet" href="/assets/print.css" />
</head>

<body data-hive="%%HIVE%%" data-hive-shortname="%%SHORTNAME%%" data-slug="%%SLUG%%">
    <div class="container-xl">
        <header class="mt-5">
            <div class="row head-block">
                <div class="col-2">
                    <img src="/assets/img/Gaea-Icon-64.png" width="24" height="24" alt="Logo" />
                    <a href="/" class="site-title" aria-label="Gaea Docs">Gaea Documentation</a>
                </div>
                <div class="px-5 col d-print-none">
                    <div class="position-relative" id="site-search">
                        <input id="searchBox" class="form-control" type="search" placeholder="Search…" autocomplete="off">
                        <div id="searchPopup" class="dropdown-menu w-100 shadow mt-1 p-0" style="display:none;">
                            <div class="px-3 py-2 border-bottom small text-secondary" id="searchMeta">Type to search</div>
                            <div id="searchResults" class="list-group list-group-flush"></div>
                            <div id="searchEmpty" class="px-3 py-3 text-secondary" style="display:none;">No results</div>
                        </div>
                    </div>
                </div>
                <div class="col-1 justify-content-end d-print-none text-right">
                    <div class="nav-item">
                        <a href="#" class="nav-link px-0 hide-theme-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Enable dark mode" data-bs-original-title="Enable dark mode">
                            <img src="/assets/svg/moon.svg" alt="">
                        </a>
                        <a href="#" class="nav-link px-0 hide-theme-light" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Enable light mode" data-bs-original-title="Enable light mode">
                            <img src="/assets/svg/sun.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="d-flex hive-nav">
                        <a class="p-2 nav-item" data-hive="User Guide" href="/">User Guide</a>
                        <a class="p-2 nav-item" data-hive="Node Reference" href="/Reference">Nodes</a>
                        <a class="p-2 nav-item" data-hive="Guides" href="/Guides">Guides</a>
                        <a class="p-2 nav-item" data-hive="Videos" href="/Guides">Videos</a>
                        <div class="flex-fill nav-item p-2"></div>
                        <a class="p-2 nav-item" data-hive="Developers" href="/Developers">Developers</a>
                        <a class="p-2 nav-item" data-hive="Changelog" href="/Changelog">Changelog</a>
                    </div>
                </div>
            </div>


        </header>

        <div class="page-wrapper">

            <div class="row">
                <div class="col-2 d-none d-lg-block">
                    <nav id="site-nav"></nav>
                </div>
                <div class="col">


                    <div class="head-block">
                        <div class="d-block d-lg-none">
                            <a data-bs-toggle="offcanvas" href="#mobileNav" role="button" aria-controls="mobileNav">
                                <img src="/assets/svg/global-toc.svg" alt="">
                                Contents
                            </a>
                            <br>
                            <br>
                        </div>
                        <div class="crumbs d-block d-lg-none">
                            %%CRUMBS%%
                            <br>
                            <br>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="doc-title">
                                %%PAGETITLE%%
                            </div>
                            <div class="dropdown d-flex doc-dropdown d-print-none">
                                <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                                    <img src="/assets/svg/commands.svg" alt="">
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" id="cmd-copy-md" href="#"> <img src="/assets/svg/copy-md.svg" alt=""> Copy as Markdown </a>
                                    <a class="dropdown-item" id="cmd-view-md" href="#"> <img src="/assets/svg/view-md.svg" alt=""> View as Markdown </a>
                                    <hr class="dropdown-divider">
                                    <a class="dropdown-item" id="cmd-ask-gpt" href="#"> <img src="/assets/svg/ask-gpt.svg" alt=""> Ask ChatGPT about this</a>
                                    <a class="dropdown-item" id="cmd-ask-claude" href="#"> <img src="/assets/svg/ask-gpt.svg" alt=""> Ask Claude about this</a>
                                    <hr class="dropdown-divider">
                                    <a class="dropdown-item" id="cmd-save-pdf" href="#"> <img src="/assets/svg/save-pdf.svg" alt=""> Save as PDF </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-top">

                        <div class="col px-5">
                            <main id="contents">%%CONTENT%%</main>
                        </div>
                        <div class="col-3 d-none d-print-none d-lg-block page-nav-wrapper">
                            <br>
                            <div class="d-block">
                                <img src="/assets/svg/page-toc.svg" alt="">
                                <strong>On this page</strong>
                                <br>
                            </div>
                            <div id="page-nav">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer class="footer footer-transparent d-print-none">
        <div class="container-xl">
            <br>
            <hr>
            <br>
            <div class="row text-center align-items-center flex-row-reverse">
                <div class="col-lg-auto ms-lg-auto">
                    <ul class="list-inline list-inline-dots mb-0">
                        <li class="list-inline-item"><a href="https://quadspinner.com/download" target="_blank" class="link-secondary" rel="noopener">Download Gaea</a></li>
                        <li class="list-inline-item"><a href="/license.html" class="link-secondary">License</a></li>
                        <li class="list-inline-item"><a href="https://QuadSpinner.com/legal/" target="_blank" class="link-secondary" rel="noopener">Legal Terms and Privacy</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-left">
                    <img src="/assets/img/AngryMonkey.png" alt="AngryMonkey" width="24" height="24" /> Made with <a href="https://github.com/quadspinner/angrymonkey2">AngryMonkey 2.0</a>
                    <br>
                    <br>
                    Copyright © 2016-2026 <a href="https://quadspinner.com" target="_blank" class="link-secondary">QuadSpinner</a>. All rights reserved.
                </div>
            </div>
        </div>


        <div class="offcanvas offcanvas-start" tabindex="-1" id="mobileNav" aria-labelledby="mobileNavLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="mobileNavLabel">Table of Contents</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <nav id="site-nav-2"></nav>
            </div>
        </div>
    </footer>
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/lunr.js"></script>
    <script src="/assets/site.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/TOC_%%SHORTNAME%%.js"></script>
    <script src="/assets/TOC.js"></script>
    <script src="/assets/search.js"></script>
</body>

</html>