<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".pagefind" mimeType="application/wasm" />
      <mimeMap fileExtension=".pf_meta" mimeType="application/wasm" />
      <mimeMap fileExtension=".pf_index" mimeType="application/wasm" />
      <mimeMap fileExtension=".pf_fragment" mimeType="application/wasm" />
      <mimeMap fileExtension=".pf_filter" mimeType="application/wasm" />
      <mimeMap fileExtension=".pf_search" mimeType="application/wasm" />
    </staticContent>
  </system.webServer>
</configuration>