@mixin callout($c, $a: 0.18) {
    --prime: $c;

    border: 1.5px solid $c;
    color: $c;
    background-color: color-mix(in srgb, $c 20%, #000 60%);
    border-radius: 3px;
    padding: 8px 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    display: block;

    p {
        margin: 0;
        font-size: 12px;
        font-weight: 600;
    }

    code {
        background: $c;
        color: #000;
    }

    


    // i {
    //     display: block;
    //     margin: 8px;
    //     margin-right: 32px;
    //     float: left;
    //     font-size: 18px;
    // }
}

@mixin xnote($c, $a: 0.18) {
    --prime: $c;

    border: 1.5px solid $c;
    color: $c;
    background-color: color-mix(in srgb, $c 20%, #000 60%);
    border-radius: 24px;
    padding: 4px 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
    font-size: 10px;
    font-weight: 600;
}

.note { @include callout(#78ccf2);}
.tip {    @include callout(#7dcb82);}
.success {    @include callout(#669368);}
.warning {    @include callout(#d8b368);}
.danger {    @include callout(#e87a74);}
.info {    @include callout(#5fbe9d);}

.x-note { @include xnote(#78ccf2);}
.x-tip {    @include xnote(#7dcb82);}
.x-success {    @include xnote(#669368);}
.x-warning {    @include xnote(#d8b368);}
.x-danger {    @include xnote(#e87a74);}
.x-info {    @include xnote(#5fbe9d);}