@use "_root.scss";
@use "_content.scss";
@use "_toc.scss";
@use "_pagenav.scss";

.hive-nav {
  margin-bottom: 36px;

  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  .nav-item {
    flex: 0 0 auto; // don’t shrink/wrap items
    white-space: nowrap; // single line
    word-break: keep-all;
    overflow-wrap: normal;

    padding: 8px 16px !important;
    margin: 0;
    border-bottom: 1px solid var(--toc-border);
    font-size: 11px;
    font-weight: 600;
    transition: color linear 0.2s;
    text-align: center;
    color: var(--toc-link);
    text-decoration: none;

    &:not(.disabled):hover {
      text-decoration: none;
      color: var(--toc-link-hover);
      background-color: transparent;
      border-bottom: 1px solid #777;
    }

    &.active {
      text-decoration: none;
      border-bottom-width: 1px;
      color: var(--toc-section);


      &:nth-child(1) {
        border-bottom-color: #ffcc00;
      }

      &:nth-child(2) {
        border-bottom-color: #67dbf0;
      }

      &:nth-child(3) {
        border-bottom-color: #fa3473;
      }

      &:nth-child(4) {
        border-bottom-color: #c067f0;
      }

      &:nth-child(5) {
        border-bottom-color: #8dfa34;
      }



      &:nth-child(6) {
        border-bottom-color: #67dbf0;
      }

      &:nth-child(7) {
        border-bottom-color: #fa3473;
      }

      &:nth-child(8) {
        border-bottom-color: #c067f0;
      }

      &:nth-child(9) {
        border-bottom-color: #8dfa34;
      }
    }

  }
}


.page-nav-wrapper {
  font-size: 12px;

  strong {
    display: inline-block;
    margin-left: 8px;
  }
}



.small {
  img {
    width: 50%;
    height: auto;
    display: block;
    text-align: center;
  }
}

@mixin callout($c, $a: 0.18) {
  border: 1px solid $c;
  color: $c;
  background-color: rgba(red($c), green($c), blue($c), $a);
  border-radius: 8px;
  padding: 18px;
  margin-top: 16px;
  margin-bottom: 16px;

  p {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
  }

  code {
    background: $c;
    color: #000;
  }
}

.note {
  @include callout(#78ccf2);
}

// blue
.tip {
  @include callout(#7dcb82);
}

// green
.success {
  @include callout(#669368);
}

// lighter green
.warning {
  @include callout(#d8b368);
}

// amber
.danger {
  @include callout(#e87a74);
}

// red
.info {
  @include callout(#5fbe9d);
}

// red

.btnx {
  font-size: 10px;
  padding: 3px 12px;
  min-height: auto;
  box-shadow: none;
  border-radius: 24px;
  border-width: 1.5px;
}

.doc-dropdown {
  .dropdown-toggle {
    font-size: 10px;
    padding: 3px 12px;
    min-height: auto;
    box-shadow: none;
    border-radius: 24px;
    border-width: 1.5px;
  }


  .dropdown-item {
    font-size: 10px;
    font-weight: 600;
    color: var(--toc-link);
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

#site-search {
  #searchPopup {
    background: #171717;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4), 0 8px 32px rgba(0, 0, 0, 0.5);
    min-width: 25vw !important;
    width: 100%;
    max-height: 60vh;
    overflow: auto;
    border-radius: 4px;

    mark{
      background: transparent;
      color: #4ff0b7;
    }

    hr{
      margin: 2px 24px;
    }

    .list-group-item {
      margin: 8px;
      border-radius: 4px;
      padding: 18px;
      width: 98%;
      border: 0;
      transition: background-color ease 0.2s;

      .fw-semibold {
        font-weight: 600;
        color: var(--tblr-link-color);
      }
    }
  }

  #searchBox {
    border-radius: 4px;
    box-shadow: none;
    font-size: 11px;
    padding: 3px 12px;
    min-width: 40vw;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid transparent;
    transition: all linear 0.2s;

    &:focus,
    &:-moz-focusring {
      background-color: rgba(0, 0, 0, 0.75);
      border: 1px solid #4ff0b7;
      box-shadow: none !important;
    }
  }

  mark {
    background: rgba(255, 193, 7, .35);
  }
}


.hive-bar {

  .navbar-nav {
    .navbar-item {
      .nav-link {
        color: #ffcc00;
        padding: 0 !important;
      }
    }
  }
}

.head-block {
  background-color: rgba(0, 0, 0, 0.35) !important;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 36px;
  position: relative;

  .doc-title {
    padding-left: 16px;

    span:nth-child(1) {
      font-size: 11px;
      font-weight: 600;
      display: block;
    }

    span:nth-child(2) {
      display: block;
      font-size: 24px;
      font-weight: 300;
    }
  }

  &.glow {
    background-color: #242427 !important;
  }
}

.site-title {
  padding-left: 12px;
  font-weight: 400;
  color: var(--toc-section);
}

#next-nav {
  border-top: 1px solid var(--toc-border);
  padding-top: 32px;

  .nav-btn {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    line-height: 1;
    white-space: nowrap;

    &::before,
    &::after {
      content: "";
      width: 1em;
      height: 1em;
      flex: 0 0 1em;
      background-color: currentColor;

      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;

      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
    }

    &:hover {
      color: #4ff0b7;
      border: 1px solid #25282e;
    }
  }

  // --- icons ---
  $icon-prev: "/assets/svg/chevron-prev.svg";
  $icon-next: "/assets/svg/chevron-next.svg";

  .nav-prev {
    &::before {
      -webkit-mask-image: url(#{$icon-prev});
      mask-image: url(#{$icon-prev});
    }

    &::after {
      content: none;
    }

    // hide unused
  }

  .nav-next {
    &::after {
      -webkit-mask-image: url(#{$icon-next});
      mask-image: url(#{$icon-next});
    }

    &::before {
      content: none;
    }

    // hide unused
  }
}


footer {
  font-size: 12px;

  a {
    font-size: 12px;
  }
}


div[data-popper-placement],
#searchPopup {
  z-index: 999999;
}

.home-grid{
  
}